# Ignore TypeScript sources in npm package
nodes/**/*.ts
credentials/**/*.ts
index.ts
tsconfig.json
gulpfile.js
.gitignore
.github
compose.yaml
N8N_NODE_GUIDELINES.md
n8n Zalo Bot Guide.md
jest.config.js
tests
nodes/**/*.png
nodes/**/*.svg
credentials/**/*.png
credentials/**/*.svg
